<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta charset="utf-8" />
    <title>Stage3</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
    <main>
        <div>
        <textarea rows="30" cols="100" id="code">
            
        </textarea>
        <button id="submit">submit</button>
        </div>
        <div id="result">

        </div>
    </main>
    <script src="../static/js/index.js"></script>
</body>
</html>
