{% extends 'base.html' %}
{%block title%}Vlog Train Code{%endblock%}
{%block css%}
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
{%endblock%}
{%block main%}
    <main class="main">
        <div> Vlog Train Code - Introduction </div>
        <div>
            <p>
                Vlog Train Code provide some collection of simple digital circuit design exercises for practicing.
                The supported language is <a href="https://ieeexplore.ieee.org/document/1620780">Verilog</a>.
            </p>
        </div>
        <div> Vlog Train Code - How to use </div>
        <div>
            <ol>
                <li>Choose an exercise in the <a href="/problem_sets">Problem set</a></li>
                <li>Write your design in Verilog</li>
                <li>Submit, simluate and debug if necessary</li>
            </ol>
            <p>
                If you want to track you progress, please click the Login/Register to check your status.
            </p>
        </div>
    </main>
{%endblock%}
{%block script%}
    <script src="../static/js/index.js"></script>
{%endblock%}
