{% extends 'base.html' %}
{%block title%}Playground - Vlog Train Code{%endblock%}
{%block css%}
    <link rel="stylesheet" type="text/css" href="../static/css/playground.css">
    <link rel="stylesheet" type="text/css" href="../util/thirdparty/codemirror5/lib/codemirror.css">
    <link rel="stylesheet" type="text/css" href="../util/thirdparty/codemirror5/theme/3024-day.css">
{%endblock%}
{%block main%}
    <main class="main">
        <div class="info-title"> Iverilog</div>
        <div class="info-content">
            <p>
                This is a playground which can provide you a interface to run simple Verilog simulations by using <a href="https://steveicarus.github.io/iverilog">Icarus Verilog</a>. You can run a simulation of anything you want.
            </p>
            <p>
                This website just provide a basic waveform interface. It is quite limiting for debugging. The waveform oscilloscope is from <a href="https://wavedrom.com/">WaveDrom</a> which show the waveform with json format.
            </p>
        </div>
        <div class="info-title"> Code Pannel</div>
        <div class="code-pannel">
            <textarea class="code-editor"></textarea>
        </div>
        <div class="control-pannel">
            <button id="submit" class="info-content playground-button--setting">Submit</button>
            <button id="submit-new-window" class="info-content playground-button--setting">Submit (new window)</button>
        </div>
        <div class="info-title"> Simulation Result</div>
        <div class="code-result">

        </div>
    </main>
{%endblock%}
{%block script%}
    
    <script src="../static/js/playground.js"></script>
    <script src="../util/thirdparty/codemirror5/lib/codemirror.js"></script>
    <script src="../util/thirdparty/codemirror5/mode/verilog/verilog.js"></script>
{%endblock%}
